<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All HISSTool Externals.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>bufconvolve~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iralign~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iraverage~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>irextract~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>irinvert~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>irmeasure~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>irnonlin~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>irphase~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>irplapprox~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>irreference~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>irstats~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>irsweeps~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>irtransaural~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>irtrimnorm~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>iruser~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>multiconvolve~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>spectrumdraw~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B807D7221635830F00E3E3A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81AF9E7143A1BBA0014A77A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81E5FDA142A0DEC00E80E6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B86704A014EB1C5700F132B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B871973D131FD3F300B1356A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B890394C13CEFB4C0090602F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8A189F6137AA8CD0056CD0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8A73655151B980B0030B923</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8B5B4ED13FD29EE00DAE433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8BE8FA813811E1400FD97AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8C1407C142C976D00E735D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8C3106E13CDF8DA007C4B91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8C5D514144B099B00910524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8C92B1F149104B9004F2F1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8CE761913D43EC900DA589D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8CF2DC815A6FDDA00EBDB95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8E99E4013A665B600636932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8E9C6DA1444AB8800CBEA1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
